#a {
    background-image: url(/img/coding-on-laptop.jpg);
    background-size: cover;
}
#b {
    background-image: url(/img/812.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
}
#c {
    background-image: url(/img/network-mainboard-service-toy-broadcasting.jpg);
    background-size: cover;
}
#d {
    background-image: url(/img/programmers-reviewing-code-on-computer.jpg);
    background-size: cover;
}
#e {
    background-image: url(/img/law.jpg);
    background-size: cover;
    background-position-y: -25px;
}
#f {
    background-image: url(/img/coding-on-laptop.jpg);
    background-size: cover;
}